In [4]:
import geopandas as gpd
gdf = gpd.read_file("Jaipur_District_Block/Jaipur_District_Block.shp", driver="ESRI Shapefile", crs="EPSG:4326")
gdf.columns

Index(['ID_0', 'ISO', 'NAME_0', 'ID_1', 'NAME_1', 'ID_2', 'NAME_2', 'ID_3',
       'NAME_3', 'VARNAME_3', 'NL_NAME_3', 'HASC_3', 'TYPE_3', 'ENGTYPE_3',
       'VALIDFR_3', 'VALIDTO_3', 'REMARKS_3', 'Shape_Leng', 'Shape_Area',
       'geometry'],
      dtype='object')

In [5]:
gdf = gdf[['ID_0', 'ISO', 'NAME_0', 'ID_1', 'NAME_1', 'ID_2', 'NAME_2', 'ID_3',
       'NAME_3', 
       'geometry']]
gdf.head()

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,geometry
0,105,IND,India,1315,Rajasthan,16151,Jaipur,27516,Amer,"POLYGON ((75.95462 27.13617, 75.95545 27.13537..."
1,105,IND,India,1315,Rajasthan,16151,Jaipur,27517,Bassi,"POLYGON ((76.17827 26.87950, 76.18398 26.86843..."
2,105,IND,India,1315,Rajasthan,16151,Jaipur,27518,Chaksu,"POLYGON ((75.92599 26.75784, 75.97488 26.72572..."
3,105,IND,India,1315,Rajasthan,16151,Jaipur,27519,Chomu,"POLYGON ((75.95462 27.13617, 75.93804 27.13685..."
4,105,IND,India,1315,Rajasthan,16151,Jaipur,27520,Dudu,"POLYGON ((75.49406 26.82473, 75.49567 26.81505..."

In [8]:
# Add color column, Generate random hex color values
import numpy as np
np.random.seed(42)

gdf['color'] = ['#' + ''.join(np.random.choice(list('0123456789ABCDEF'), size=6)) for _ in range(len(gdf))] 
gdf.head()

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,geometry,color
0,105,IND,India,1315,Rajasthan,16151,Jaipur,27516,Amer,"POLYGON ((75.95462 27.13617, 75.95545 27.13537...",#63CEA7
1,105,IND,India,1315,Rajasthan,16151,Jaipur,27517,Bassi,"POLYGON ((76.17827 26.87950, 76.18398 26.86843...",#C46926
2,105,IND,India,1315,Rajasthan,16151,Jaipur,27518,Chaksu,"POLYGON ((75.92599 26.75784, 75.97488 26.72572...",#AA7437
3,105,IND,India,1315,Rajasthan,16151,Jaipur,27519,Chomu,"POLYGON ((75.95462 27.13617, 75.93804 27.13685...",#725417
4,105,IND,India,1315,Rajasthan,16151,Jaipur,27520,Dudu,"POLYGON ((75.49406 26.82473, 75.49567 26.81505...",#BD51FB

In [9]:
gdf.to_file("../../public/geojson/placeholder.geojson", driver="GeoJSON")